:root {
	--transform-scale: 1.015;
	--transition-sec: .2s;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background-image: url('../img/map/table.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main {
	background-image: url('../img/map/11.png');
	background-repeat: no-repeat;
	background-size: 125% 125%;
	background-position: 50% -15%;
}

.top-panel, .bottom-panel {
	width: 100%;
	height: 50vh;
	position: relative;
}

.top-panel {
	display: flex;
	align-items: center;
	justify-content: center;
}

.manual-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 350px;
}

.manual-img {
	width: 200px;
	height: 300px;
	cursor: pointer;
	transition: var(--transition-sec);
}
.manual-img:hover {
	transition: var(--transition-sec);
	transform: scale(var(--transform-scale));
}

.enemy-block {
	position: relative;
	cursor: pointer;
	transition: var(--transition-sec);
}
.enemy-block:hover {
	transition: var(--transition-sec);
	transform: scale(var(--transform-scale));
}

.enemy-image {
	width: 400px;
	height: 250px;
}

.card-detail {
	position: absolute;
	height: 50px;
	bottom: 5px;
	font-size: 26px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.enemy-damage {
	left: 30px;
}

.enemy-hp {
	right: 30px;
}

.bottom-panel {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards-list {
	display: flex;
}

.card {
	position: relative;
	transition: var(--transition-sec);
	cursor: pointer;
	margin-right: 10px;
}
.card:hover {
	transition: var(--transition-sec);
	transform: scale(var(--transform-scale));
}
.card:last-child {
	margin-right: 0;
}

.card-img {
	width: 90px;
	height: 145px;
}

.card-damage {
	left: 0px;
}

.card-suit {
	right: 0;
}

.buttons-continer {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	bottom: 10%;
}

.button {
	cursor: pointer;
}

.reset-button {
	width: 140px;
	height: 60px;
}

.attack-button {
	width: 140px;
	height: 60px;
}

.combo-title {
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	font-family: 'Arial', sans-serif;
}

.runes-container {
	position: absolute;
	right: 0;
	top: 12.5vh;
	width: 150px;
	height: 450px;
	background-image: url('../img/runes/rune_board.png');
	background-position: right;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.runes-list {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	width: 35px;
	align-items: flex-end;
}

.rune {
	text-align: right;
	margin-right: 17px;
	cursor: pointer;
/*	width: 35px;
	height: 45px;
*/}

.rune-image {
	width: 35px;
	height: 45px;
}
