{% extends "base.html" %}

{% block content %}
	<main>

		<!-- TOP PANEL -->
		<div class="top-panel">
			<div class="manual-container">
				<img src="../img/table/manual.png" class="manual-img">
			</div>

			<div class="enemy-container">

				<div class="attack-cooldown">
					<span class="attack-cooldown__num">3</span>
				</div>

				<div class="enemy-block">
					<img src="../img/enemy/bison.png" class="enemy-image">
					<span class="enemy-damage card-detail">3</span>
					<span class="enemy-hp card-detail">280</span>
				</div>

			</div>
		</div>

		<!-- BOTTOM PANEL -->
		<div class="bottom-panel">
			<div class="cards-list">

				<div class="card">
					<img src="../img/cards/2.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/3.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/4.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/5.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/10.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/11.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/12.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card">
					<img src="../img/cards/13.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>
			</div>

			<div class="buttons-continer">

				<div class="button">
					<img src="../img/table/reset_button.png" class="reset-button">
				</div>

				<p class="combo-title">600<br>Combo title</p>

				<div class="button">
					<img src="../img/table/attack_button.png" class="attack-button">
				</div>

			</div>

		</div>

		<!-- RUNES -->
		<div class="runes-container">
			<div class="runes-list">
				<div class="rune">
					<img src="../img/runes/damage_rune_1.png" class="rune-image">
				</div>
			</div>
		</div>

	</main>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		let selected_cards = [];

		function select_card(card) {
			
		}
	</script>
{% endblock %}
