{% extends "base.html" %}

{% block content %}
	<main>

		<!-- TOP PANEL -->
		<div class="top-panel">
			<div class="manual-container">
				<img src="../img/table/manual.png" class="manual-img">
			</div>

			<div class="enemy-container">

				<div class="attack-cooldown">
					<span class="attack-cooldown__num">3</span>
				</div>

				<div class="enemy-block">
					<img src="../img/enemy/bison.png" class="enemy-image">
					<span class="enemy-damage card-detail">3</span>
					<span  id="enemy-hp" class="enemy-hp card-detail">err</span>
				</div>

			</div>
		</div>

		<!-- BOTTOM PANEL -->
		<div class="bottom-panel">
			<div id="cards-list" class="cards-list">

				<!--
				<div class="card" onclick="select_card(this)" power="two" suit="sun">
					<img src="../img/cards/2.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="three" suit="moon">
					<img src="../img/cards/3.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="four" suit="fire">
					<img src="../img/cards/4.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="five" suit="stone">
					<img src="../img/cards/5.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="ten" suit="sun">
					<img src="../img/cards/10.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="ten" suit="moon">
					<img src="../img/cards/11.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="ten" suit="stone">
					<img src="../img/cards/12.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>

				<div class="card" onclick="select_card(this)" power="ten" suit="sun">
					<img src="../img/cards/13.png" class="card-img">
					<span class="card-damage card-detail"> </span>
					<span class="card-suit card-detail"> </span>
				</div>
				-->
			</div>

			<div class="buttons-continer">

				<div class="button">
					<img src="../img/table/reset_button.png" class="reset-button">
				</div>

				<p id="combo-title" class="combo-title">600<br>Combo title</p>

				<div class="button" onclick="attack()">
					<img src="../img/table/attack_button.png" class="attack-button">
				</div>

			</div>

		</div>

		<!-- RUNES -->
		<div class="runes-container">
			<div class="runes-list">
				<div class="rune">
					<img src="../img/runes/damage_rune_1.png" class="rune-image">
				</div>
			</div>
		</div>

	</main>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		const MAX_SELECTED = 5;
		let selected_cards = [];

		let ENEMY_HP = 280;
		let enemy_hp_div = document.getElementById('enemy-hp');
		enemy_hp_div.innerHTML = ENEMY_HP;

		const updateSelection = (card) => {
			card.classList.toggle('selected');
		};

		function convert_card_div_to_dict(cards) {
			let output = [];

			for (let card of cards) {
				output.push({
					'power': card.getAttribute('power'),
					'suit': card.getAttribute('suit')
				});
			}

			return output
		}

		async function select_card(card) {
			const is_selected = card.classList.contains('selected');

			if (is_selected) {
				updateSelection(card);
				selected_cards = selected_cards.filter(selected_card => selected_card !== card);
			} else {
				if (selected_cards.length < MAX_SELECTED) {
					updateSelection(card);
					selected_cards.push(card)
				} else {
					alert(`Можно выбрать максимум ${MAX_SELECTED} карт`);
				}
			}

			let combo_title_p = document.getElementById('combo-title');
			let cards_dict = convert_card_div_to_dict(selected_cards);
			const combo = await eel.get_combo_title(cards_dict)();
			combo_title_p.innerHTML = `${combo['power']}<br>${combo['title']}`;
		}

		async function attack() {
			if (selected_cards.length == 0) {
				alert("Для атаки необходимо выбрать от 1 до 5 карт!");
				return 0
			}

			let cards_dict = convert_card_div_to_dict(selected_cards);
			const damage = await eel.calc_attack_damage(cards_dict)();
			console.log(damage);
			ENEMY_HP -= damage;
			enemy_hp_div.innerHTML = ENEMY_HP;
		}
	</script>

	<script type="text/javascript" src="../scripts/cards.js"></script>

	<script type="text/javascript" defer>
		const cards_list_block = document.getElementById('cards-list');

		for (let i=0; i<=8; i++) {
			const new_card = draw_card_from_deck();
			new_card.then((result) => {
				cards_list_block.innerHTML += `
					<div class="card" onclick="select_card(this)" power="${result['power']}" suit="${result['suit']}">
						<img src="${result['img']}" class="card-img">
						<span class="card-damage card-detail">${result['power-value']}</span>
						<span class="card-suit card-detail"><img class="card-suit__img" src="${result['suit-img']}"></span>
					</div>`;
			});
		}

	</script>
{% endblock %}
